

body {
  color: white;   /* або будь-який інший колір */
}
nav ul {
  list-style: none;      /* прибираємо крапки */
  margin: 0;
  padding: 0;
  display: flex;         /* робимо горизонтальний ряд */
  justify-content: flex-start; /* вирівнюємо по центру */
  gap: 13px;             /* відстань між кнопками */
}

nav li {
  display: inline-block; /* щоб класи працювали як блоки */
}

header {background-color: #666666;
background-image: url('https://i.ytimg.com/vi/-C8Ubw81UfA/maxresdefault.jpg');
background-position:  center;
background-size: cover;
  background-repeat: no-repeat;
padding:20px 20px;
}
  
header h1 {
  color: white;  
}
.home, .news, .contacts, .profile {
  background-color: #5a3030;   /* один колір для всіх */
  border: 1px solid #333;        /* тонка рамка */
  border-radius: 7px;           /* заокруглені кути */
  padding: 10px 15px;             /* компактні відступи */
  text-align: center;
}

.home a, .news a, .contacts a, .profile a {
  color: white;                  /* контрастний текст */
  font-size: 15px;
}

.home a:hover, .news a:hover, .contacts a:hover .profile a:hover {
  color: white;                  /* зміна кольору при наведенні */
}
.IMPER {background-image: linear-gradient(135deg, rgba(34, 82, 129, 1) 15%, rgba(0, 0, 0, 1) 75%);}

.boss_02 {background-color: #5a3030;
border-radius: 10px;
text-align: left
}
.layout {
  display: grid;
  grid-template-columns: 3fr 1fr; /* ліва частина ширша, права вужча */
  gap: 20px; /* відступ між блоками */
}

.content {
  background: linear-gradient(to bottom, #001f4d, #003366);
  color: white;
  padding: 20px;
}

.sidebar {
  background: #272b49;
  padding: 20px;
}

