body {
  color: white;   /* або будь-який інший колір */
}
<<<<<<< HEAD
nav ul {
  list-style: none;      /* прибираємо крапки */
  margin: 0;
  padding: 0;
  display: flex;         /* робимо горизонтальний ряд */
  justify-content: flex-start; /* вирівнюємо по центру */
  gap: 13px;             /* відстань між кнопками */
}

nav li {
  display: inline-block; /* щоб класи працювали як блоки */
}

header {background-color: #666666;
background-image: url('https://i.ytimg.com/vi/-C8Ubw81UfA/maxresdefault.jpg');
background-position:  center;
background-size: cover;
  background-repeat: no-repeat;
padding:20px 20px;
}
  
=======


header {background-color: #666666;
background-image: url('https://i.ytimg.com/vi/-C8Ubw81UfA/maxresdefault.jpg');
background-position: center;
background-size: cover;
  background-repeat: no-repeat;}
>>>>>>> 8404121b2da28ec4d159a8ed7e3ce2770b561684
header h1 {
  color: white;  
}
.home, .news, .contacts, .profile {
  background-color: #5a3030;   /* один колір для всіх */
  border: 1px solid #333;        /* тонка рамка */
  border-radius: 7px;           /* заокруглені кути */
<<<<<<< HEAD
  padding: 10px 15px;             /* компактні відступи */
=======
  padding: 1px 15px;             /* компактні відступи */
>>>>>>> 8404121b2da28ec4d159a8ed7e3ce2770b561684
  text-align: center;
}

.home a, .news a, .contacts a, .profile a {
  color: white;                  /* контрастний текст */
<<<<<<< HEAD
  font-size: 15px;
=======
  font-size: 11px;
>>>>>>> 8404121b2da28ec4d159a8ed7e3ce2770b561684
}

.home a:hover, .news a:hover, .contacts a:hover .profile a:hover {
  color: white;                  /* зміна кольору при наведенні */
}
.IMPER {background-image: linear-gradient(135deg, rgba(34, 82, 129, 1) 15%, rgba(0, 0, 0, 1) 75%);}

.boss_02 {background-color: #5a3030;
border-radius: 10px;
text-align: left
}